WcfServiceLibrary1/Client/Connected Services/DemoServiceReference/Demo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Demo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Demo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmpData">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmpId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpData" nillable="true" type="tns:EmpData" />
</xs:schema>